<header class="site-header" style="border: 0;">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
       <img src="/assets/images/logo.png" href="{{ my_page.url | relative_url }}" alt="{{ my_page.title | escape }}" style="height: 100px; width: 299px;">
    </a>
  </div>
</header>
